---
import Login from "../components/login.vue";
const title = "Hello World!";
---

<html>
  <body style="background-color: #eefcf6;">
    <main>
      <Login client:load />
    </main>
  </body>
</html>