---
import Home from "../components/shopping.vue";
---

<html>
  <head>
  </head>
  <body>
    <main>
      <Home client:load/>
    </main>
  </body>
</html>

<style>
  body {
    font-family: 'DM Mono', monospace;
  }
  
</style>


